.expense-label {
    display: flex;
}
.expense-item {
    width: 200px;
    text-align: start;
}
.cost {
    width: 150px;
}
.action {
    display: flex;
    justify-content: center;
    width: 100px;
}

.custom-new-budget-app {
    display: flex;
    flex-direction: column;
}
